<div class='image'>
	<div id="galleria">
		<%= image_tag 'example.jpg' %>
		<%= image_tag 'example.jpg' %>
		<%= image_tag 'example.jpg' %>
		<%= image_tag 'example.jpg' %>
		<%= image_tag 'example.jpg' %>
		<%= image_tag 'example.jpg' %>
		<%= image_tag 'example.jpg' %>
		<%= image_tag 'example.jpg' %>
		<%= image_tag 'example.jpg' %>
		<%= image_tag 'example.jpg' %>
		<%= image_tag 'example.jpg' %>
		<%= image_tag 'example.jpg' %>
	</div>
</div>

<%= javascript_tag "Galleria.loadTheme('javascripts/galleria.classic.min.js'); Galleria.run('#galleria');" %>
